.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:15px ;
    padding-right: 15px;
    background-image: url("../pictures/back-cover.jpg");
    background-size: cover;
}
.conteneur{
 background-color:hsla(358, 28%, 95%, 0.85);
 width: 990px;    
}


.main-content img {
    /* Limitez la taille de l'image pour éviter qu'elle ne dépasse */
    max-width: 100%;
    max-height: 100%;
}

.main-menu ul, main-menu li {
    marging:0;
    padding:0;
}    
.main-menu li {
display:inline ;
}
.main-menu a {
    color:#400;
    text-decoration:none;
    padding:0px 10px;
    font-size:20px;
}
.main-menu a:hover {
    color: #d86c0c;
}
nav li:not(:last-child) {
    border-right: 1px solid black; /* Bordure verticale à droite de chaque élément de liste sauf le dernier */
}

.phrase{
    text-align: right;
    font-size:10px;
}
.date{
    font-size:10px;
}
article, main, {
    display: inline-block;
    display: flex;
}

article{
    width: 280px;
    float: left;
}
main, aside, footer{
    width: 640px;
    float: right;
}
hr{
    border:none;
    border-top:1px solid black;
    margin: 20px 0;
}
.vignettes a{
    text-decoration:none;
    color: #b32;
    margin: 40px; 
    flex-direction: row;
}
.vignettes img {
    margin: 10 px; /* Espace entre les images */
    display: inline ;
}
.vignettes a:hover {
    color: #4c4c4b;
}
.photos{
    height: 150px;
    width: 200px;
}
footer{
    padding: 20px;
    text-align: right;
}